<link href='https://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'>
#stars
#stars2
#stars3
#stars4
#title
  %span
  %br
    Evm: 0x175C56d77A97791266aD5211AAEC0647058c71f6
  %br 
    Binance pay: igorvulushchak@gmail.com
  %br
    BTC: bc1p2mwpdzkxtaz558ezjpa8cu8rwe6gkf7rpu80mj7x7hwe6t2z9pyqvth47m
  %br
